
  #choropleth {
    width: 50%;
    height: 40%;
    align-items: left;
    background-color: yellow;
  }

  #bar-chart {
    width: 50%;
    height: 100%;
    align-items: right;
    background-color: blue;
  }

  #cartogram {
    width: 50%;
    align-items: left;
    height: 40%;
    background-color: red;
  }

  #timeline {
    width: 50%;
    height: 10%;
    align-items: left;
    background-color: green;
  }
