body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: lightgray;
  stroke-width: 1.5px;
}


/* http://www.d3noob.org/2013/01/adding-grid-lines-to-d3js-graph.html */
.grid .tick {
    stroke: #777777;
    opacity: 0.5;
}